
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<!-- Image and text -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">eCantor</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Feautures
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a asp-controller="Currency" asp-action="Index" class="dropdown-item">Currency</a>
                    <div class="dropdown-divider"></div>
                    @*<a class="dropdown-item" href="#">Something else here</a>*@
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
            </li>
        </ul>
        @if (User.Identity.IsAuthenticated)
        {
        <div class="dropdown">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Welcome, @User.Identity.Name!
            </a>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a asp-controller="Account" asp-action="Edit" class="dropdown-item">Preferences</a>
                <a asp-controller="Account" asp-action="Logout" class="dropdown-item">Wyloguj</a>
            </div>
        </div>
        }
        else
        {
        <div class="dropdown">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown link
            </a>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a asp-controller="Account" asp-action="Login" class="dropdown-item">Login</a>
                <a asp-controller="Account" asp-action="Register" class="dropdown-item">Register</a>
            </div>
        </div>
        }
        <!-- <form class="form-inline my-2 my-lg-0">-->
        <!--<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">-->
        <!--<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
        <!--</form>-->
    </div>
</nav>